header {
    display: grid;
    grid-template-columns: repeat (5 1fr);
    background: black;
}

h1 {
    margin: 5%;
    font-size: 3em;
}   

.beers-link {
    color: #fff;
    text-decoration: none;

}

.header-button-section {
    grid-column: 5 / 6;
}

header button {
    font-size: 1.5em;
    margin: 10% 0% 0 10%;
    color: #fff;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 5px;
}


