.result-card {
    border: 1px solid black;
    display: block;
    margin: 2%;
    width: 18%; 
    text-align: center;
    background-color: #edac3c;
    border-radius: 5px;
    padding: 1%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    align-items: space-between;
}

.result-card h3 {
    border-bottom: 1px solid black;
}

.brewery-type {
    text-transform: capitalize;
}

.result-card-button-section {
    width: 100%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid black;
    padding-top: 10%;
}

.result-card-button-section button {
    width: 90%;
    margin: 0 auto; 
    margin: 0 5%;
    border-radius: 5px;
}

.details-button {
    background-color: black;
    border: 2px solid #fff;
    color: #fff;
}

.is-favorite-active {
    background-color: yellow;
}

.is-favorite {
    background-color: black;
    border: 2px solid #fff;
    color: #fff;
}

.address {
    margin: 0;
}

