
.search-section {
  margin: 0% 0;
  height: 90vh;
  width: 100%;
  background-image: url('https://img.grouponcdn.com/iam/39R5YtsobSdayog9ZeVtokXWQEDP/39-2048x1229/v1/c700x420.jpg');
  background-size: cover;
}

.search-inputs {
  display: block;
  position: absolute;
  top: 35%;
  left: 35%;
  width: 100%;
}

.search-inputs p{
  font-size: 3rem;
  margin: 0;
}
.search-inputs input {
  font-size: 2rem;
  width: 20%;
  border-radius: 5px;
  border: 2px solid black;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75); 
  }
  
  .search-inputs button {
  font-size: 2rem;
  margin: 0 2%;
  border-radius: 5px;
  background-color: #fff; 
  border: 2px solid black;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  }

.background-image {
  width: 100%;
}

.zip-error-message {
  display: block;
  width: 40%;
  text-align: center;
  font-size: 1.5em;
  color: red;
  background-color: white;
}