.results-container {
     width: 90%;
    margin: 0 5%;
    border-radius: 5px;
    /* background-color: #edac3c; */
}

.results-container h2 {
    font-size: 1.5rem;
    margin: 2% 0 2% 5%;
}

.results-container-display {
    display: flex;
    flex: wrap;
}

.results-container h3 {
    display: block;
}
