.results-container {
    width: 90%;
    margin: 0 5%;
    border-radius: 5px;
}

.results-container h2 {
    margin: 2%;
    font-size: 2rem;
}

.results-container-display {
    display: flex;
    flex-wrap: wrap;    
}

.results-container h3 {
    display: block;
}
