.note-card {
    border: 1px solid black;
    margin: 2% 0;
    width: 98%;
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.note-card h4 {
    width: 30%;
    border-bottom: 1px solid black;
    margin: 1% 5%
}

.note-card p {
    margin: 1% 5%
}

.note-card button {
    margin-left: 70%;
}